.navbar {
  z-index: 10000;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  color: #fff;
  padding: 0px 0.4vw;
  background: #4070f4;
}

.navbar-1 {
  display: inline-block;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 0.4vw;
  width: 80%;
  background: #4070f4;
  z-index: 10000;
  width: 100%;
}

.navbar-1 p {
  font-size: 1.2vw;
  line-height: 100%;
  font-weight: bold;
  color: black;
  min-width: 450px;
  overflow: hidden;
}
.navbar-button {
  color: #24243e;
  height: 5vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-button:hover{
  background-color: white;
  height: 100%; 
  height: 6.5vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  position: relative;
  background-color:	#E0EEFF;
  overflow: hidden;
  padding-bottom: 2%;
  height: 200vh;
}

.main-1 {
  position: relative;
  background-color: #E0EEFF;
  overflow: hidden;
}

.main-2 {
  position: relative;
  background-color: white;
  overflow: hidden;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: avenir;
}


body {
  margin: 0px;
  font-family: avenir;
  position: relative;
  height: 100%;
  height: 100vh;
}

.logo {
  font-size: 2vh;
}

.poza-header {
  width: 100vw;
  position: relative;
  display: block;
}

.ichigo-background {
  width: 100%;
  height: 400px;
  min-width: 450px;
  display: block;
  overflow: hidden;
}

.side-container {
  float: right;
  background-color: white;
  width: 30%;
  border: 1px black solid;
}

.side {
  background-color: #dde1ec;
  font-size: 2vw;
  padding-left: 2%;
  padding-bottom: 2%;
  font-weight: bold;
  margin-bottom: 4%;
  border-bottom: 1px solid black;
}

.left-side {
  width: 15vw;
  position: absolute;
  height: 100%;
  z-index: 1000000;
  left: 0.5%;
}

.left-side img {
  width: 100%;
  height: 80vh;
}

.right-side {
  width: 15vw;
  position: absolute;
  height: 100%;
  right: 0.5%;
  z-index: 10000000;
}

.right-side img {
  width: 100%;
  height: 80vh;
}

.fixed {
  position: fixed;
  top: 0;
}

.container {
  position: relative;
  margin-bottom: 2%;
  width: 68%;
  margin-left: 16%;
  margin-right: 16%;
}

.container-1 {
  position: relative;
  margin-bottom: 2%;
  width: 68%;
  margin: 0px 17%;
  height: 100vh;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: #2e51a2;
  padding: 10px 1vw;
  white-space: nowrap;
  color: white;
  position: relative;
  font-size: 1vw;
  border: none;
  font-weight: bold;
}

.dropdown-button:hover {
  background-color: #e1e7f5;
  padding: 10px 1vw;
  white-space: nowrap;
  color: #2e51a2;
  position: relative;
  font-size: 1vw;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 100000000;
  width: 10vw;
}

.dropdown-content a {
  display: block;
  background-color: #e1e7f5;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  font-size: 0.8vw;
  text-decoration: none;
  padding: 5% 5px;
  border-bottom: 1px solid black;
}

.dropdown-content a:hover {
  display: block;
  background-color: #2e51a2;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  font-size: 1.2vw;
  text-decoration: none;
  color: white;
  padding: 5% 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.meniu-navbar {
  display: flex;
  background-color: #2e51a2;
}

.container-animeuri-top {
  background-color: white;
  display: flex;
  position: relative;
  margin-bottom: 3%;
}

.loc-anime {
  color: grey;
  min-width: 1.5vw;
  font-size: 2vh;
  padding-left: 1%;
}

.imagine-anime-container {
  width: 50px;
  height: 70px;
}

.imagine-anime {
  width: 50px;
  height: 70px;
}

.nume-anime {
  font-size: 1vw;
  color: #1c439b;
  padding-left: 1%;
  width: 100%;
}


.sub-text {
  color: gray;
  padding: 0px;
  position: absolute;
  bottom: 5%;
}

table {
  border-collapse: collapse;
  width: 60vw;
  background-color: white;
}

tr {
  border-bottom: 1px solid #ddd;
}

th, td {
  padding: 5px;
}

.name {
  font-weight: bold;
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd;
  position: relative;
  display: flex;
  height: 170px;
  font-size: 1.5vw;
  padding-left: 1%;
  padding-top: 1%;

}

.name a {
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  height: 7vh;
  color: rgb(85, 26, 139);
}

.rating {
  font-weight: bold;
  border-right: solid 1px #ddd;
  text-align: center;
  font-size: 2.5vh;
}

.info {
  font-style: italic;
  max-height: 140px;
  font-size: 1.5vh;
  border-right: solid 1px #ddd;
}

.image-container {
  border-left: solid 1px #ddd;
  width: 120px;
}

.image-container img {
  width: 100%;
  font-size: 10vh;
  max-height: 153px;
}

.button-container {
  border-right: solid 1px #ddd;
  text-align: center;
  width: 130px;
}

.button-container button {
  padding: 5px 10px;
  background-color: #ddd;
  border: none;
  cursor: pointer;
  font-size: 2vh;
}

#Actions {
  display: flex;
  float: right;
  text-align: center;
}

.rank {
  text-align: center;
  font-weight: bold;
  font-size: 4vh;
}

.average-container{
  background-color: red;
  z-index: 10000000;
}

.name span {
  color: gray;
  position: absolute;
  bottom: 2%;
  font-size: 1vw;
}

.review {
  font-weight: bold;
  color: blue;
  font-size: 2.2vw;
}

.no-reviews {
  font-size: 3vw;
}

#allReviews span {
  font-size: 1.5vw;
}

.search-container {
  position: absolute;
  right: 0px;
}

.search-input {
  width: 25vw;
  padding: 10px 1vw;
  font-size: 1vw;
  transition: all 0.3s ease;
}

.search-input:focus {
  border-color: #aaa;
  background-color: rgb(240, 240, 240);
  box-shadow: inset 1px 2px 10px rgba(0, 0, 0, 0.5);
}

.suggestions-container {
  position: relative;
  z-index: 100000000;
  font-size: 1vw;
  background-color: transparent;
  width: 25vw;
}

li {
  list-style-type: none;
}

.suggestions-container  li{
  border-bottom: solid 1px #778899;
  border-top: solid 1px #778899;
  padding: 1.5% 0px;
  padding-left: 2%;
  cursor: pointer;
  background-color: white;
  font-size: 1.7vw;
}

.suggestions-container  li:hover{
  background-color: rgb(247, 247, 247);
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5);
  transform: translateX(-7%);
  transition: transform 0.3s ease;
}

.suggestions-container li:hover::after {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  height: 100%;
  background-color: #e0e0e0;
  transform: translateX(7%);
  transition: transform 0.3s ease;
}


.suggestions {
  position: absolute;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  width: 25vw;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.suggestions li {
  padding: 10px;
  cursor: pointer;
}

.error-message {
  color: red;
  position: absolute;
  z-index: 1000000;
  top: 70%;
}
.your-rating {
  padding: 5px;
  font-weight: 700;
  background: white;
  width: 8vw;
  border-bottom: solid 1px #ddd;
  height: 28.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2vw;
  white-space: nowrap;
}

@media (max-width:800px) {
  .ichigo-background {
    height: 200px;
    display: block;
    width: 100vw;
  }

  .loc-anime {
    width: 2.5vh;
  }

  .item img {
    max-height: 10vh;
    display: block;
    margin-top: 10px;
  }

  .info {
    margin-top: 5px;
    font-size: 1vh;
  }

  .container {
    margin: 0px;
    width: 100%;
  }

  .container-1 {
    margin: 0px;
    width: 100%;
  }

  .rating {
    font-size: 2.1vh;
  }

  .button-container {
    border-right: solid 1px #ddd;
    text-align: center;
    width: 100px;
  }

  .search-input {
    width: 40vw;
    padding: 6px 1vw;
    font-size: 2.5vw;
  }
  
  .suggestions-container {
    position: relative;
    position: absolute;
    z-index: 100000000;
    font-size: 1vw;
    background-color: white;
    width: 40vw;
  }
  

  .suggestions {
    position: absolute;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    width: 40vw;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    z-index: 1;
  }

  .container-animeuri-top {
    width: 100vw;
  }
  
  .container-animeuri-top  table {
    width: 85vw;
  }

  .your-rating {
    width: 13vw;
    font-size: 2.1vw;
  }
  
  th,td {
    width: 20vw;
  }

  .side-container {
  float: right;
  background-color: white;
  width: 40%;
}
}

@media (max-width:500px) {
  .container {
    margin: 0px;
    width: 100%;
  }

  .image-container {
    padding: 0px;
  }

  .rating {
    font-size: 2.1vh;
  }
  .button-container {
    border-right: solid 1px #ddd;
    text-align: center;
    width: 80px;
  }
}

@media (max-height:1000px) and (max-width:800px)  {
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-button {
    background-color: #2e51a2;
    padding: 6px 1vw;
    white-space: nowrap;
    color: white;
    position: relative;
    font-size: 2.5vw;
    border: none;
    font-weight: bold;
  }
  
  .dropdown-button:hover {
    background-color: #e1e7f5;
    padding: 6px 1vw;
    white-space: nowrap;
    color: #2e51a2;
    position: relative;
    font-size: 2.5vw;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 100000000;
    width: 25vw;
  }
  
  .dropdown-content a {
    display: block;
    background-color: #e1e7f5;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    font-size: 2.5vw;
    text-decoration: none;
    padding: 10% 5px;
    border-bottom: 1px solid black;
  }
  
  .dropdown-content a:hover {
    display: block;
    background-color: #2e51a2;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    font-size: 3vw;
    text-decoration: none;
    color: white;
    padding: 10% 5px;
  }

  .navbar-1 p {
    font-size: 2vw;
  }

  .name span {
    color: gray;
    position: absolute;
    bottom: 2%;
    font-size: 1.2vh;
  }

  .name {
    font-weight: bold;
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
    position: relative;
    display: flex;
    font-size: 3vw;
    padding-left: 1%;
    padding-top: 1%;
  }

  .nume-anime p {
    color: #1c439b;
    width: 29%;
  }
  .nume-anime {
    font-size: 2.2vw;
    color: #1c439b;
    padding-left: 1%;
    width: 100%;
  }
}

@media (max-width:1300px) {
  .left-side {
    display: none;
  }

  .right-side {
    display: none;
  }
}

@media (max-height:650px) {
  .left-side {
    display: none;
  }

  .right-side {
    display: none;
  }
}
